##### Migration
- import package
- mysql -> mongodb
    - connect mysql
    - dataframe(world.country)
    - connect mongodb
    - parsing ( dataframe -> list(dict, dict, dict...) )
    - insert
- mongodb -> mysql
    - connect mongodb
    - dataframe(crawling.zigbang) - filtering
    - connect mysql
    - insert (한글데이터는 인코딩 설정이 utf8)

In [2]:
# install package
import MySQLdb, pymongo
from sqlalchemy import create_engine

##### mysql -> mongodb

In [5]:
# connect mysql
db = MySQLdb.connect(
    "13.209.15.89",
    "root",
    "",
    "world",
    charset = "utf8"
)
db

In [6]:
# get world country data
QUERY = """
    SELECT *
    FROM country
"""
country_df = pd.read_sql(QUERY, db)
country_df.tail()

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav Koštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

In [7]:
# connect mongodb
client = pymongo.MongoClient("mongodb://13.209.15.89:27017")
collection = client.world.country
collection

Collection(Database(MongoClient(host=['13.209.15.89:27017'], document_class=dict, tz_aware=False, connect=True), 'world'), 'country')

In [8]:
# parsing list[dict, dict, dict, ...] 
data = country_df.to_dict("records")
len(data)

239

In [9]:
data[:2]

[{'Capital': 129.0,
  'Code': 'ABW',
  'Code2': 'AW',
  'Continent': 'North America',
  'GNP': 828.0,
  'GNPOld': 793.0,
  'GovernmentForm': 'Nonmetropolitan Territory of The Netherlands',
  'HeadOfState': 'Beatrix',
  'IndepYear': nan,
  'LifeExpectancy': 78.4,
  'LocalName': 'Aruba',
  'Name': 'Aruba',
  'Population': 103000,
  'Region': 'Caribbean',
  'SurfaceArea': 193.0},
 {'Capital': 1.0,
  'Code': 'AFG',
  'Code2': 'AF',
  'Continent': 'Asia',
  'GNP': 5976.0,
  'GNPOld': nan,
  'GovernmentForm': 'Islamic Emirate',
  'HeadOfState': 'Mohammad Omar',
  'IndepYear': 1919.0,
  'LifeExpectancy': 45.9,
  'LocalName': 'Afganistan/Afqanestan',
  'Name': 'Afghanistan',
  'Population': 22720000,
  'Region': 'Southern and Central Asia',
  'SurfaceArea': 652090.0}]

In [10]:
result = collection.insert_many(data)
result

In [11]:
len(result.inserted_ids)

239

In [12]:
# check data
documents = collection.find()
df = pd.DataFrame(list(documents))
df.tail()

,Capital,Code,Code2,Continent,GNP,GNPOld,GovernmentForm,HeadOfState,IndepYear,LifeExpectancy,LocalName,Name,Population,Region,SurfaceArea,_id
234,1780.0,YEM,YE,Asia,6041.0,5729.0,Republic,Ali Abdallah Salih,1918.0,59.8,Al-Yaman,Yemen,18112000,Middle East,527968.0,5b5976a410ae9264c4c46f78
235,1792.0,YUG,YU,Europe,17000.0,NaN,Federal Republic,Vojislav Koštunica,1918.0,72.4,Jugoslavija,Yugoslavia,10640000,Southern Europe,102173.0,5b5976a410ae9264c4c46f79
236,716.0,ZAF,ZA,Africa,116729.0,129092.0,Republic,Thabo Mbeki,1910.0,51.1,South Africa,South Africa,40377000,Southern Africa,1221037.0,5b5976a410ae9264c4c46f7a
237,3162.0,ZMB,ZM,Africa,3377.0,3922.0,Republic,Frederick Chiluba,1964.0,37.2,Zambia,Zambia,9169000,Eastern Africa,752618.0,5b5976a410ae9264c4c46f7b
238,4068.0,ZWE,ZW,Africa,5951.0,8670.0,Republic,Robert G. Mugabe,1980.0,37.8,Zimbabwe,Zimbabwe,11669000,Eastern Africa,390757.0,5b5976a410ae9264c4c46f7c

In [13]:
client.drop_database("world")

##### mongodb -> mysql

In [23]:
# connect mongodb
client = pymongo.MongoClient("mongodb://13.124.198.120:27017")
collection = client.crawling.zigbang
collection

Collection(Database(MongoClient(host=['13.124.198.120:27017'], document_class=dict, tz_aware=False, connect=True), 'crawling'), 'zigbang')

In [32]:
# dataframe
documents = collection.find()
zigbang_df = pd.DataFrame(list(documents))
zigbang_df.tail()

,_floor,_id,address1,address2,address3,agent_address1,agent_comment,agent_email,agent_lat,agent_lng,...,updated_at2,user_email,user_has_no_penalty,user_has_penalty,user_intro,user_mobile,user_name,user_no,user_phone,view_count
55,8층,5b596ef446fb2a5230f82630,서울시 관악구 봉천동,916-1,None,서울특별시 관악구 관악로17길 25,,jaesung0509@naver.com,37.480698,126.950256,...,2018-07-24,jaesung0509@naver.com,True,False,,0507-1282-3129,중개보조원 기재헌,3712773,0507-1282-3129,37
56,3층,5b596ef446fb2a5230f82631,서울시 관악구 봉천동,1614-1,None,서울특별시 관악구 관악로12길 58-2,"▶ 퇴근후/주말 언제든 전화나 문자주시면 친절한 상담후 방 보여드려요 \n\n▶ ""...",yeho207@naver.com,37.477585,126.955444,...,2018-07-24,yeho207@naver.com,True,False,,0507-1281-0532,중개보조원 주윤수,1560562,0507-1281-0532,58
57,1층,5b596ef446fb2a5230f82632,서울시 관악구 봉천동,889-14,None,서울특별시 관악구 관악로15길 23-10 (봉천동),▶직접 답사하여 촬영한 100% 실매물만 광고합니다◀\n\n✓ 임차인 조건 최대한 ...,reagen08@hanmail.net,37.479912,126.950775,...,2018-07-23,reagen08@hanmail.net,True,False,고객님 안녕하세요!! 미소 부동산입니다.\n\n시간과장소에 구애받지 않고 중개사분들...,0507-1282-0714,중개보조원 이승환,16365,0507-1282-0714,331
58,3층,5b596ef446fb2a5230f82633,서울시 관악구 봉천동,44-2,None,서울특별시 관악구 청룡8길 66,"※ 필독사항 ※\n\n"" 다른 어떤 조건보다 철저한 권리분석으로 손님께 안전한 방만...",cikim50@hanmail.net,37.480361,126.942317,...,2018-07-13,cikim50@hanmail.net,True,False,,0507-1280-8446,소속공인중개사 김강지,3847370,0507-1280-8446,267
59,3층,5b596ef446fb2a5230f82634,서울시 관악구 봉천동,876-22,None,서울특별시 관악구 신림동 1587-35 1층 105호,\t\n작은 일에 소홀함이 없고 큰 일에 부족함이 없도록 믿음과 신뢰로 안전한 거래...,godeux@paran.com,37.481731,126.928322,...,2018-07-12,godeux@paran.com,True,False,"안녕하세요, 비젼공인중개사 사무소입니다.\n\n계약에서 입주까지 안전한 거래로 책임...",0507-1280-6169,중개보조원 정국현,1366452,0507-1280-6169,871

In [35]:
filtered_df = zigbang_df[["deposit","rent","size","options","view_count"]]
filtered_df.tail()

    deposit  rent  size                                   options  view_count
55    15000     0  10.0  에어컨,냉장고,세탁기,가스레인지,전자레인지,책상,책장,옷장,신발장,싱크대          37
56      500    40   7.0          에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대          58
57     4500     0   5.0          에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대         331
58     7000     0   7.0                 에어컨,냉장고,세탁기,인덕션,책상,옷장,싱크대         267
59      200    38   8.0          에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대         871

In [37]:
sort_df = zigbang_df[["deposit","rent","size","options","view_count"]]
sort_df.tail()

    deposit  rent  size                                   options  view_count
55    15000     0  10.0  에어컨,냉장고,세탁기,가스레인지,전자레인지,책상,책장,옷장,신발장,싱크대          37
56      500    40   7.0          에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대          58
57     4500     0   5.0          에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대         331
58     7000     0   7.0                 에어컨,냉장고,세탁기,인덕션,책상,옷장,싱크대         267
59      200    38   8.0          에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대         871

In [20]:
# insert
# db의 인코딩이 utf8 이어야 한글 데이터를 넣을 수 있음
engine = create_engine("mysql://root:@13.209.15.89/test?charset=utf8")
engine

Engine(mysql://root:***@13.209.15.89/test?charset=utf8)

In [38]:
sort_df.to_sql("zigbang", engine, if_exists="replace")

In [39]:
# check data
db = MySQLdb.connect(
    "13.209.15.89",
    "root",
    "",
    "test",
    charset = "utf8"
)
db

In [40]:
QUERY = """
    SELECT *
    FROM zigbang
"""
zigbang_df = pd.read_sql(QUERY, db)
zigbang_df.tail()

,index,deposit,rent,size,options,view_count
55,55,15000,0,10.0,"에어컨,냉장고,세탁기,가스레인지,전자레인지,책상,책장,옷장,신발장,싱크대",37
56,56,500,40,7.0,"에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대",58
57,57,4500,0,5.0,"에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대",331
58,58,7000,0,7.0,"에어컨,냉장고,세탁기,인덕션,책상,옷장,싱크대",267
59,59,200,38,8.0,"에어컨,냉장고,세탁기,인덕션,책상,책장,옷장,신발장,싱크대",871

In [41]:
# delete table
DROP_QUERY = """
    DROP TABLE zigbang
"""
curs = db.cursor()

In [42]:
curs.execute(DROP_QUERY)
db.commit()