python 기초 문법
- 식별자, 변수, 데이터 타입, 데이터 형변환

comment, print

In [3]:
# this is a function
def func():
    return 100

In [2]:
print("data")

data

In [164]:
print(data)

NameError: name 'data' is not defined

In [159]:
print("data1", end="\t")
print("data2")
print("data3")

data1	data2
data3

In [165]:
print(1234
      \56789)

SyntaxError: unexpected character after line continuation character (<ipython-input-165-cee0f862a21a>, line 2)

In [161]:
print(1234/
     56789)

0.021729560302171196

In [ ]:
?

In [163]:
class = 100

SyntaxError: invalid syntax (<ipython-input-163-50e329627236>, line 1)

In [9]:
s1 = "data1"
s2 = "data2"

print("this is a {}, {}.".format(s1, s2))

this is a data1, data2.

In [10]:
#print format2
s1 = "andy"
s2 = "seoul"
print ("this is a {name}, {addr}.".format(addr=s2, name=s1))

this is a andy, seoul.

식별자
 - 변수, 함수, 클래스, 모듈, 패키지 등을 구분하기 위해서 사용되는 이름
 - 규칙
     - 대소문자를 구분
     - 소문자(a-z), 대문자(A-Z), 숫자(0-9), 특수문자(_)
     - 가장 앞에 ('_ _') 지양 - 왜??? _name_식으로 변수를 확인하는 경우가 많기 때문에 저렇게 사용하면 python에서 사용하는 변수들이 바뀔 수 있음. 프로그램 자체가 동작이 안 되지는 않지만 지양할 것
     - 가장 앞에 숫자 사용은 불가
     - 예약어 사용불가 : def, print ... why? 변수인지 코드를 사용하려고 하는 건지 알 수 없어서 ㄴㄴ

In [11]:
A = 1
a = 2

In [12]:
A, a

(1, 2)

변수
- '='은 대입을 의미함

In [13]:
a = 1

In [14]:
b = "python"

In [15]:
a, b

(1, 'python')

In [16]:
abc% = 10

SyntaxError: invalid syntax (<ipython-input-16-4546b0721623>, line 1)

In [17]:
1_abc = 10

SyntaxError: invalid token (<ipython-input-17-318025598a52>, line 1)

In [18]:
1 + 2

3

In [ ]:
여러 줄로 코딩하면 에러가 난 줄 앞에서 문제가 있을 수도 있으므로 에러난 줄 앞뒤를 모두 확인해야 함

In [19]:
#다중할당 - 한 줄에 여러 개의 변수를 선언해서 값을 넣어 줍니다.
a, b = 1, "python"

In [20]:
a, b

(1, 'python')

In [21]:
c = d = e = "data"

In [22]:
c, d, e

('data', 'data', 'data')

In [23]:
a,b,c,d = 0,0,0,0

In [24]:
a = b = c = d = 0

In [ ]:
23, 24랑 같은데 why? 초기값을 0으로 했다가 1로 바꾸려면 23 같은 경우는 일일이 바꿔줘야 하지만 24 같은 경우는 한 번만 바꿔주면 되니까 편함!

In [25]:
a,b,c,d

(0, 0, 0, 0)

In [26]:
b = 2

In [27]:
a,b,c,d

(0, 2, 0, 0)

#### 자료형 - Datatype
- Number : int, float, complex(복소수)
- Boolean : True, False(대문자 꼭 지켜야 함)
- String
- Collection
     - List
     - Tuple
     - Dictionary
     - Set

In [31]:
# 숫자
# Number - int
a, b, c, d = 0, 12345, -9993, +23844
print (type(a), type(b), type(c), type(d))
a,b,c,d

<class 'int'> <class 'int'> <class 'int'> <class 'int'>

(0, 12345, -9993, 23844)

In [32]:
#Number - float
a, b, c,d = 0.0, 123.5678, -123.111, +999.222
print (type(a), type(b), type(c), type(d))
a,b,c,d

<class 'float'> <class 'float'> <class 'float'> <class 'float'>

(0.0, 123.5678, -123.111, 999.222)

In [33]:
#Number - complex
a = 2 +3j
b = complex(3, -4)
print(type(a),type(b))
a,b

<class 'complex'> <class 'complex'>

((2+3j), (3-4j))

In [34]:
a.real, a.imag

(2.0, 3.0)

In [35]:
print(type(a.real),type(a.imag))

<class 'float'> <class 'float'>

In [37]:
a+b, a*b, a/b

((5-1j), (18+1j), (-0.24+0.68j))

In [38]:
a.conjugate()

(2-3j)

In [39]:
abs(a)

3.605551275463989

In [42]:
#Boolean
a, b = True, False
print(type(a), type(b))
a,b

<class 'bool'> <class 'bool'>

(True, False)

In [51]:
#String
a, b, c = "data", 'science', "data 'science' is good"
print(type(a), type(b))
a,b,c

<class 'str'> <class 'str'>

('data', 'science', "data 'science' is good")

In [ ]:
"" 안의 ''은 문자열로 인식함

In [53]:
# String - multy line
a = """fast campus
data science
good"""
print(a)

fast campus
data science
good

In [55]:
# String - multiful string
s = "Data "*10
s

'Data Data Data Data Data Data Data Data Data Data '

In [58]:
#Stirng - offset
# 문자열의 문자 하나 하나에 넘버링을 해서 문자열의 특정 위치의 문자열을 선택이 가능, 첫번째가 0번, 뒤부터 -1
a = "abcdefg"
a[5], a[-1], a[0], a[-6]

('f', 'g', 'a', 'b')

In [63]:
# 문자열의 범위를 지정해서 문자열 선택 가능
a[1:3], a[0:3], a[:3], a[3:], a[3:7], a[3:len(a)]

('bc', 'abc', 'abc', 'defg', 'defg', 'defg')

In [ ]:
제일 앞은 포함하고 맨 뒤는 포함 ㄴㄴ, 가장 앞을 포함하거나 가장 뒤를 포함하면 안 써도 됨

In [65]:
# step - 'abcdefg'
# inverse
a[::2], a[::-1]

('aceg', 'gfedcba')

In [166]:
len(a)

3

In [167]:
%whos

Variable   Type        Data/Info
--------------------------------
A          int         1
a          list        n=3
b          list        n=3
c          list        n=3
d          float       999.222
dic        dict        n=5
dic2       dict        n=4
dic3       dict        n=3
e          str         data
func       function    <function func at 0x000000000540E0D0>
ls         list        n=5
ls1        list        n=4
ls2        list        n=3
ls3        list        n=3
ls4        list        n=3
s          str         data,science
s1         str         andy
s2         str         seoul
sys        module      <module 'sys' (built-in)>
t          tuple       n=4
tu         tuple       n=5

In [172]:
# String methods - upper

# upper
b = a.upper()

# lower
c = b.lower()
c = a.upper().lower()
c

print(a.upper())

AttributeError: 'list' object has no attribute 'upper'

In [2]:
f = "a,b,c,d,e,f,g"

In [4]:
f.upper().lower()

'a,b,c,d,e,f,g'

In [73]:
# find
# 없는 문자열을 넣으면 -1을 리턴
a.find("c"), a.find("z"), a.find("cd"), a.find("def")

(2, -1, 2, 3)

In [75]:
# index
a.index("c"), a.index("cd")

(2, 2)

In [76]:
#index
# 없는 문자열을 넣으면 에러 발생
a.index("z")

ValueError: substring not found

In [178]:
b = "asdfqweras"
c = "qw"
print(b.count("a")), print(b.count("as")), b.count(c)
b.count("as"), b.count(c), b.count(c)

2
2

(2, 1, 1)

In [83]:
# strip
s = " data science "
s.lstrip(), s.rstrip(), s.strip(), s.lstrip().rstrip()

('data science ', ' data science', 'data science', 'data science')

In [ ]:
마지막 경우는 체이닝?이라고 부름

In [84]:
# replace
s.replace("da","tb")

' tbta science '

In [86]:
s.replace("tb,"z")

SyntaxError: invalid syntax (<ipython-input-86-82af87a5e743>, line 1)

In [87]:
s.replace("data","test"), s.replace("e","a")

(' test science ', ' data scianca ')

In [90]:
# split
s.split(" ")

['', 'data', 'science', '']

In [91]:
s.strip().split(" ")

['data', 'science']

In [180]:
s

'data,science'

In [179]:
s.strip().split(" ")

['data,science']

In [92]:
s = "data,science"
s.split(",")

['data', 'science']

In [8]:
f = ["fast", "campus", "data", "science"]
print("-".join(f))
"-".join(f)

fast-campus-data-science

'fast-campus-data-science'

In [ ]:
# Collection - List
# 순서가 있는 데이터의 집합을 가지는 데이터 타입

In [10]:
# 리스트 선언
ls1 = ["fast", "campus", "data", "science"]
ls2 = [1, 2, [1, 2]]
ls3 = [[1,2,3],[4,5,6],[7,8,9]]
ls4 = [1, True, "fast"]
print(type(ls1), type(ls2), type(ls3), type(ls4))
ls1, ls2, ls3, ls4

<class 'list'> <class 'list'> <class 'list'> <class 'list'>

(['fast', 'campus', 'data', 'science'],
 [1, 2, [1, 2]],
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]],
 [1, True, 'fast'])

In [11]:
# List offset
ls = ["fast", "campus", "data", "science"]
ls[1], ls[-1], ls[1:3], ls[:3], ls[2:], ls[::-1], ls [::-2]

('campus',
 'science',
 ['campus', 'data'],
 ['fast', 'campus', 'data'],
 ['data', 'science'],
 ['science', 'data', 'campus', 'fast'],
 ['science', 'campus'])

In [105]:
ls[::-1]

['science', 'data', 'campus', 'fast']

In [108]:
ls[0] = "data"
ls

['data', 'campus', 'data', 'science']

In [ ]:
# list method
# append, sort, severse, index, insert, remove, pop
# append는 무조건 뒤에 데이터 추가, insert는 특정 위치에 데이터 추가
# pop은 가장 마지막에 있는 데이터를 삭제

In [109]:
ls

['data', 'campus', 'data', 'science']

In [110]:
ls.append("dss8")
ls

['data', 'campus', 'data', 'science', 'dss8']

In [111]:
# 숫자는 숫자 순으로, 문자열은 알파벳 순으로 솔팅됨
ls.sort()
ls

['campus', 'data', 'data', 'dss8', 'science']

In [116]:
# sort와 반대되는 개념
ls.reverse()
ls

['science', 'dss8', 'data', 'data', 'campus']

In [12]:
ls.index("campus")

1

In [184]:
dndn = ["fast", "campus", "dss8"]

In [185]:
dndn.index("fast")

0

In [186]:
dndn.pop()

'dss8'

In [187]:
dndn

['fast', 'campus']

In [14]:
ls.insert(2, "insert")
ls

['fast', 'campus', 'insert', 'data', 'science']

In [15]:
ls.remove("insert")
ls

['fast', 'campus', 'data', 'science']

In [ ]:
?????

In [122]:
ls.remove("data")
ls

['science', 'dss8', 'campus']

In [123]:
ls.pop()

'campus'

In [124]:
ls

['science', 'dss8']

In [17]:
ls = ['science', 'dss8', 'data']
ls

['science', 'dss8', 'data']

In [19]:
ls.index('dss8')

1

In [125]:
ls[1:3] = "fast"
ls

['science', 'f', 'a', 's', 't']

In [127]:
# list copy
# a=b의 뜻은 a의 주소값이 b의 변수에 들어가게 되는 것. a가 가리키는 변수의 공간은 1,2,3이 들어있는 공간. a와 b는 같은 메모리 값을 
# 가지고 있음. 그래서 분리하기 위해 copy를 사용함
# a = [1,2,3]이라고 하면 어떤 공간에 1,2,3이 들어가고 a라는 변수가 생성되는데 a는 그 공간의 주소값을 참조해서 가져옴.
# b=a라고 선언하면 a의 주소값이 들어가서 b와 a와 같은 주소값
# a와 b와 같은 메모리 공간을 가지고 있기 때문에 하나를 바꾸면 같이 바뀜
# 이것을 방지하기 위해서 메모리를 하나 더 만들어주는 함수가 copy
# c = a.copy()하면 c와 a는 다른 주소값을 가지기 때문에 독립적으로 움직일 수 있음
a = [1,2,3]
b = a
a, b

([1, 2, 3], [1, 2, 3])

In [128]:
b[2] = 10
a, b

([1, 2, 10], [1, 2, 10])

In [129]:
c = a.copy()
a, b, c

([1, 2, 10], [1, 2, 10], [1, 2, 10])

In [130]:
a[2] = 100
a, b, c

([1, 2, 100], [1, 2, 100], [1, 2, 10])

In [21]:
a = [1,2,3,4,5]
# offset을 이용하여 데이터 수정
a[1] = "Fast"
print(a)
a[1:4] = "a"
a

[1, 'Fast', 3, 4, 5]

[1, 'a', 5]

In [ ]:
# Tuple
# 리스트와 같이 순서가 있는 데이터 타입, 단, 수정이 불가능.
# 왜 Tuple 써? 리스트보다 메모리(컴퓨터 자원)을 적게 사용.
# so.어떤 데이터를 쓸 때 바뀔 일이 없다고 하면 tuple을 사용하는 게 더 좋음(메모리 적게 쓰니까!)

In [131]:
# Tuple 선언
t = 1, 2, 3, 4
t

(1, 2, 3, 4)

In [ ]:
# Tuple은 소괄호, List는 대괄호
# Tuple도 offset 슬 수 있음

In [132]:
t = (1, 2, 3, 4)
t

(1, 2, 3, 4)

In [134]:
t = (1, "dss8", True, [1, 2, 3])
t

(1, 'dss8', True, [1, 2, 3])

In [135]:
t[0] = 2
# 이렇게 tuple은 수정할 수 없음

TypeError: 'tuple' object does not support item assignment

In [137]:
t[1:3], t[1:], t[:2]

(('dss8', True), ('dss8', True, [1, 2, 3]), (1, 'dss8'))

In [138]:
import sys
# getsizeof ; byte 단위로 변수에 사용한느 메모리 공간 알려줌
ls = [1,2,3,4,5]
tu = (1,2,3,4,5)
sys.getsizeof(ls), sys.getsizeof(tu)

(104, 88)

In [ ]:
# Dictionary
# 데이터의 순서가 없음.  key, value가 쌍으로 모여있는 데이터 타입

In [23]:
# 선언 #여기선 1이 key 값, one이 value 값, 구분하는 거로 ":" 사용
# 맨 뒤에도 , 붙여줄 것!!!!!
dic = {
    1:"one",
    "A":["data", "science"],
    "숫자":1234,
}
type(dic), dic

(dict, {1: 'one', 'A': ['data', 'science'], '숫자': 1234})

In [190]:
a=1,2,3,4

In [191]:
print(type(a))

<class 'tuple'>

In [24]:
# 수정 # []안에 key 값 들어가야 함
dic[1] = "하나"
dic

{1: '하나', 'A': ['data', 'science'], '숫자': 1234}

In [25]:
dic["A"] = "알파벳"
dic

{1: '하나', 'A': '알파벳', '숫자': 1234}

In [ ]:
# Dictionary method
# keys(key를 가져옴), values(value를 가져옴), items(같이 가져옴), clear(dic에 있는 데이터 삭제), get(가져오는 거)
# copy(value 값을 복사), update(dic들을 합치고 싶을 때 e.g. dic1, dic2)

In [26]:
dic.keys(), dic.values()

(dict_keys([1, 'A', '숫자']), dict_values(['하나', '알파벳', 1234]))

In [27]:
dic.keys()

dict_keys([1, 'A', '숫자'])

In [145]:
dic.items()
# tuple로 데이터가 묶이고, list 형태로..

dict_items([(1, '하나'), ('A', '알파벳'), ('숫자', 1234)])

In [ ]:
dic2 = {}

In [146]:
dic.clear()
dic

{}

In [147]:
dic = {1:"one", 2:"two", 3:"three"}
dic.get(1), dic.get(3)

('one', 'three')

In [28]:
dic.get(1)

'하나'

In [149]:
dic.get(4, "no data")
# 뒤에 no data 저런 식으로 설정 안 해주면 아무 것도 안 나옴

'no data'

In [153]:
dic(4)
# 이런 식으로 하면 에러 나기 때문에 에러를 방지하기 위해서 get 쓰는 거

TypeError: 'dict' object is not callable

In [151]:
dic2 = {3:"삼", 4:"사", 5:"오"}
dic, dic2

({1: 'one', 2: 'two', 3: 'three'}, {3: '삼', 4: '사', 5: '오'})

In [152]:
dic.update(dic2)
dic
# 이런 경우에 key가 겹치면 value 값이 업데이트 되고 없는 게 업데이트 되면 key와 value가 같이 업데이트 됨

{1: 'one', 2: 'two', 3: '삼', 4: '사', 5: '오'}

In [158]:
dic3 = {"three": "3", 4: "사", 5: "오"}
dic2.update(dic3)
dic2

{3: '삼', 4: '사', 5: '오', 'three': '3'}