In [61]:
g = [2, 5, 6, 9, 10]
del g[0]
print(g)

[5, 6, 9, 10]

#### Set
- 중복되는 데이터가 없는 집합 형태의 데이터 타입입니다.
- 합집합, 차집합, 교집합과 같은 집합의 연산이 가능합니다.
- 순서가 없습니다.
- 리스트 데이터에서 중복을 제거할 때 사용될 수 있습니다.

In [1]:
# 선언
s = set([1, 2, 3, 4, 5, 1, 2, 3])
type(s), s

(set, {1, 2, 3, 4, 5})

In [2]:
# 바꾸려면 이렇게 바꿀 수 있지만 원래 set이 순서가 없기 때문에 확실하지는 않음
s = list(s)
s[0] = 100
s = set(s)
s

{2, 3, 4, 5, 100}

In [5]:
# set 연산
s1 = set([1,2,3,4])
s2 = set([3,4,5,6])

# 교집합
print(s1 & s2)
print(s1.intersection(s2))

# 합집합
print(s1 | s2)
print(s1.union(s2))

# 차집합
print(s1 - s2)
print(s1.difference(s2))

{3, 4}
{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2}

In [8]:
def test(num1, num2):
    print(num1)
    print(num2)

###### 데이터 형변환
- 변수의 데이터 타입을 변경하는 것입니다.
- 데이터의 값과 변경하려는 데이터의 타입에 따라서 변경이 불가능할 수 있습니다.

In [9]:
a = "1"
type(int(a))

int

In [10]:
a = "a"
int(a)

ValueError: invalid literal for int() with base 10: 'a'

In [11]:
# 문자열과 숫자열 변환
s = "1234"
n = int(s)
type(n), n

(int, 1234)

In [12]:
s + 1

TypeError: must be str, not int

In [14]:
int(s) + 1

1235

In [15]:
str(n) + "abc"

'1234abc'

In [13]:
n + "abc"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# Boolean 데이터 타입으로 형변환
bool(""), bool("abcd")
# bool 안에 뭐 없으면 False가 나옴

(False, True)

In [17]:
bool(-1), bool(0), bool(1), bool(1234)

(True, False, True, True)

In [18]:
bool([]), bool([1,2,3,4])

(False, True)

In [19]:
if True:
    print("dss8")

dss8

In [20]:
if False:
    print("dss8")

In [22]:
s1, s2 = "", "dss"
if s1 == "":
    print("dss8")

dss8

In [24]:
s1, s2 = "", "dss"
if s2 == "":
    print("dss8")

In [23]:
bool(s1)

False

In [25]:
s1, s2 = "", "dss"
ls = []
if ls:
    print("dss8")
#이처럼 안에 아무 것도 없으면 출력 안 됨

In [26]:
s = "data"
list(s)

['d', 'a', 't', 'a']

In [2]:
a, b = [ ], [1,2,3]
if len(a) > 0:
    print(a)
else:
    print("no_data")
if b:
    print(b)
else:
    print("no_data")

no_data
[1, 2, 3]

In [6]:
# 튜플과 딕셔너리의 데이터 형변환
# 튜플 -> 딕셔너리 : 튜플 데이터가 (key, value) 형태로 선언이 되어야 합니다.
t = ((1, "one"), ("A", "two"))
dict(t)

{1: 'one', 'A': 'two'}

In [30]:
# 딕셔너리 -> 튜플 
d = {1: 'one', 'A': 'two'}
tuple(d)

(1, 'A')

In [31]:
tuple(d.items())

((1, 'one'), ('A', 'two'))

##### 연산자
- 산술연산자, 비교연산자, 할당(대입)연산자, 비트연산자, 논리연산자, 멤버연산자, 식별연산자

In [32]:
# 산술연산자 : +, -, /, *, //, %, **
print(2 + 4)
print(2 - 4)
print(5 / 3)
print(5 * 3)

6
-2
1.6666666666666667
15

In [37]:
print(14 // 3)
print(13 % 3)
print(3 ** 4)
print(2 ** 0.5)

4
1
81
1.4142135623730951

In [44]:
# 비교연산자 : a == b, a != b, >, <, >=, <=
a, b, c = 10, 20, 10
print(a)
print(a == b)
print(a != b)
print(a < b)
print(a > b)
print(a <= b)
print(a <= c)

10
False
True
True
False
True
True

In [47]:
# 할당(대입)연산자 : =, +=, -=, *=, /=, //=, %=, **=
a = 5
print(a)

a = a + 10
a += 10
print(a)

a -= 5
print(a)

a *= 5
print(a)

a //= 4
print(a)

a %= 4
print(a)

a **= 4
print(a)

5
25
20
100
25
1
1

In [3]:
# 비트연산자 : &(둘 중 하나라도 0이면 0이 됨. 둘 다 0이 아니어야 1이 됨), |(or), ^(exclusive or). ~(보수). <<(shift). >>
a = 3 # 011
b = 5 # 101

print(a & b), bin(a & b)
# 0b1에서 b는 binary. 저 뜻은 2진수에서 1이라는 뜻. 8진수면 b가 아니라 o
print( a | b , bin(a | b))
print(a ^ b, bin(a ^ b))
print(~a, bin(~a))
# 보수는 0은 1로, 1은 0으로 바꿔주고 거기에 마이너스(-)를 붙임
print(a << 2, bin(a << 2))
#(0011 -> 앞으로 두 칸 가서 11되고 나머지는 00으로 채워짐, *, 2**n)
print(b>>2, bin(b>>2))
# (0101 -> 0010 -> 0001, //, 2**n)

1
7 0b111
6 0b110
-4 -0b100
12 0b1100
1 0b1

In [4]:
# 논리연산자: and, or, not(True -> False, False -> True)
# A and B(둘 다 true면 true, 하나라도 x 면 false)

print(True and True)
print(True and False)

print(True or True)
print(True or False)

a, b, c, d = 1, 2, 3, 4

a > b and c < d
a > b or c < d

print(not(a > b) and c < d)
print(not(not(a > b) and c < d))

True
False
True
True
True
False

In [63]:
# 멤버 연산자 : in, not in
ls = {1, 2, 3, 4, 5}

print(1 in ls)
print(6 in ls)

print(1 not in ls)
print(6 not in ls)

True
False
False
True

In [64]:
# 식별 연산자 : is, is not

# collection이 아닌 데이터 타입은 값을 비교
a = "a"
b = a
print(a is b)

c = "a"
print(a is c)

True
True

In [5]:
# collection의 데이터 타입은 주소 비교
a = [1, 2, 3]
b = a
print(a is b)

c = a.copy()
print(a is c)

True
False