### Input, Output, Condition, Loop

#### Input
 - 데이터를 받을 때 사용합니다.

In [1]:
s = input("insert string : ")
print(type(s),s)
print(s)

insert string : dss
<class 'str'> dss
dss

In [3]:
n = int(input("insert number : "))
print(type(n), n)

insert number : 1234
<class 'int'> 1234

In [5]:
ls = input("insert list (sep=' ') : ")
ls = ls.split(" ")
print(type(ls), ls)

insert list (sep=' ') : a b c d data
<class 'list'> ['a', 'b', 'c', 'd', 'data']

In [2]:
ls = input("insert list (sep=',') : ")
ls = ls.split(",")
print(type(ls), ls)
ls

insert list (sep=',') : a,b,c,d,e
<class 'list'> ['a', 'b', 'c', 'd', 'e']

['a', 'b', 'c', 'd', 'e']

In [8]:
# 출력 - print
a, b = 0, 1
print(a, b)

0 1

In [4]:
n = int(input("number : "))
for _ in range(n):
    print("dss")

number : 2
dss
dss

In [5]:
print("fast", "campus")

fast campus

In [6]:
print("data", end="\n")
print("dss")
print("fast", end="\t")
print("campus")

data
dss
fast	campus

In [7]:
a, b = 1234, "fastcampus"
print("number : {}, string: {}".format(a, b))
a, b = 1234, "fastcampus"
print("number : {num}, string: {string}".format(string=b, num=a))
print("number : " + str(a) + ", string: " + b)

number : 1234, string: fastcampus
number : 1234, string: fastcampus
number : 1234, string: fastcampus

In [9]:
# pprint : 딕셔너리 형태의 큰 데이터를 보기 편하게 출력, jupyter notebook에서는 잘 작동하지 x
from pprint import pprint

dic = {1:"one", 2:"two"}
pprint(dic)

{1: 'one', 2: 'two'}

In [10]:
from pprint import pprint

dic = {"A":90, "B":70, "C":100, "D":90, "E":70, "F":100, "G":90, "H":70, "I":100}
print(dic)
pprint(dic)

{'A': 90, 'B': 70, 'C': 100, 'D': 90, 'E': 70, 'F': 100, 'G': 90, 'H': 70, 'I': 100}
{'A': 90,
 'B': 70,
 'C': 100,
 'D': 90,
 'E': 70,
 'F': 100,
 'G': 90,
 'H': 70,
 'I': 100}

##### 조건 : if, elif, else
```
if <조건>:
    <code>
```

In [10]:
if True:
    print("if")
    
print("done")

if
done

In [11]:
if False:
    print("if")
    
print("done")

done

In [13]:
star1 = 4
star2 = 2

if star1 > 3:
    print("good")
else: 
    print("bad")

if star2 > 3:
    print("good")
else: 
    print("bad")

good
bad

In [14]:
if star2 > 3:
    print("good")
if star2 <= 3: 
    print("bad")

bad

In [15]:
# elif
# 학점
# 60 이하 F, 61~70: D, 71~80: C, 81~90: B, 91~100: A
point = 74

if point > 90:
    print("A")
elif point > 80:
    print("B")
elif point > 80:
    print("C")
elif point > 70:
    print("C")
elif point > 60:
    print("C")
else:
    print("F")

C

In [23]:
# 숫자를 입력받아서 짝수이면 even, 홀수이면 odd 출력하는 프로그램을 작성하세요.

user_input = int(input("insert number : "))

if user_input % 2 == 0:
    print("even")
else:
    print("odd")

insert number : 5
odd

In [ ]:
# 삼항연산
# result = (True) if <조건> else (False)

In [26]:
number = 12
result = "even" if number % 2 == 0 else "odd"
print(result)

even

#### 반복문 : while, for, break, continue, list comprehension

```
while <조건>:
    code
```

In [2]:
a = 3
while a > 0:
    print(a)
    a -= 1
a

3
2
1

0

In [29]:
# break
a = 0
while True:
    print(a)
    if a == 3:
        break
    a += 1
a

0
1
2
3

3

In [32]:
# continue
a = 5
while a > 0:
    a -= 1
    if a % 2 != 0:
        continue
    print("even", a)

even 4
even 2
even 0

In [11]:
a = [1,2,3,4,"q"]
idx = 0
while True:
    data = a[idx]
    idx += 1
    if data == 'q':
        break
    elif data % 2 == 0:
        continue
    print(data)
idx

1
3

5

In [14]:
value = input("insert string (quit : q) : ")
while True:
    if value == 'q':
        break
    print(value)

insert string (quit : q) : q

##### For
```
for <var> in <list>:
    <code>
```

In [23]:
ls = [1, 2, 3]
for value in ls:
    if value == 2:
        break
    print(value)

1

In [37]:
ls = [1, 2, 3]
for value in ls:
    if value % 2 == 0:
        continue
    print(value)

1
3

In [40]:
# range

ls = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
for value in ls:
    print(value)

0
1
2
3
4
5
6
7
8
9

In [42]:
range(5), list(range(5))

(range(0, 5), [0, 1, 2, 3, 4])

In [43]:
list(range(2,5))

[2, 3, 4]

In [44]:
list(range(0, 5, 2))

[0, 2, 4]

In [66]:
fdf = list(range(5, 0, -1))
print(fdf)

[5, 4, 3, 2, 1]

In [46]:
for idx in range(5):
    print(idx)

0
1
2
3
4

In [48]:
for _ in range(5):
    print("dss")
# 그냥 반복하고 싶으면 _ 써도 됨. 굳이 문자 안 쓰고.

dss
dss
dss
dss
dss

In [ ]:
# zip : 2개의 리스트를 key value 형태로 묶어주는 함수

In [52]:
subs = ["math", "korean", "science"]
points = [100, 80, 90]

dic = {}

for idx in range(len(subs)):
    print(subs[idx], points[idx])
    dic[subs[idx]] = points[idx]

math 100
korean 80
science 90

In [56]:
for sub, point in zip(subs, points):
    dic[sub] = point
dic

{'korean': 80, 'math': 100, 'science': 90}

In [57]:
dict(zip(subs, points))

{'korean': 80, 'math': 100, 'science': 90}

In [61]:
# enumerate : 리스트 데이터를 index와 value를 동시에 사용하고 싶을 때

ls = ["data", "dss", "science", "dss"]
i = 0
for value in ls:
    print(i, value)
    i += 1

0 data
1 dss
2 science
3 dss

In [63]:
ls = ["data", "dss", "science", "dss"]
for idx,value in enumerate(ls):
    print(idx, value)

0 data
1 dss
2 science
3 dss

In [64]:
dss_idx = []
for idx,value in enumerate(ls):
    if value == "dss":
        dss_idx.append(idx)
    print(idx, value)
dss_idx

0 data
1 dss
2 science
3 dss

[1, 3]

In [65]:
# for 문을 이용해서 리스트 안에 있는 모든 숫자를 더하는 코딩을 하세요.
ls = [1, 3, 5, 7, 9]
result = 0

for i in ls:
    result += i 
    
result

25

##### List Comprehension
- 반복문의 리스트 결과를 한 줄로 코딩하여 바로 만들어 주는 바법
- 리스트 데이터를 만들 때 for문보다 속도가 빠르다
```
ls = [<value> for <value> in <list>]
```
- 뒤에 조건이 들어갈 수도 있고 아닐 수도 있음
e.g.
```
ls = [<value> for <value> in <list> (if <condition>)]
```

In [5]:
# method 1
ls = []
ls = [1, 2, 3, 4, 5]
print(ls)

ls = []
ls.append(1)
ls.append(2)
ls.append(3)
print(ls)

ls = []
for num in range(1,6):
    ls.append(num)
print(ls)

ls = [num for num in range(1,6)]
print(ls)

[1, 2, 3, 4, 5]
[1, 2, 3]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [10]:
%%timeit
ls = []
for num in range(1,10000):
    ls.append(num)
len(ls)

2.58 ms ± 188 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [11]:
%%timeit
ls = [num for num in range(1,10000)]
len(ls)

739 µs ± 142 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [14]:
# 0~10까지 숫자를 출력하고 출력되는 숫자 뒤에 홀수인지 짝수인지 문자열을 붙여서 출력하는 코드
ls = [str(num)+":even" if num % 2 == 0 else str(num)+":odd" for num in range(0,11)]
print(ls)

['0:even', '1:odd', '2:even', '3:odd', '4:even', '5:odd', '6:even', '7:odd', '8:even', '9:odd', '10:even']

In [15]:
# 0~10까지 숫자 중에서 홀수만 출력해주는 코드
ls = [num for num in range(11) if num % 2 != 0]
ls
# 짝수 나오게 하고 싶다면 num % 2 == 0하면 됨

[1, 3, 5, 7, 9]

In [21]:
# 퀴즈
names = ["kim dss", "park python", "lee data", "lee school", "jung science"]

names = [
    name.split(" ")[1] if name.split(" ")[0] == "lee" else name
    for name in names
]

names

['kim dss', 'park python', 'data', 'school', 'jung science']